.DS_Store
.idea
*.log
*.rds
.auctex-auto/
*.aux
.RData
*cache/
/.dir-locals.el
/.projectile
archive/
*.bbl
*.blg
*.pdf

# directories
/tmp/
/archive
/figs/
/results/

# this contains a git repository
/src/designr/
